
.hidden{
    transform: scale(0)
}

.active{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1)
}

.modal__content{
    width: 700px;
    background-color: rgb(232,76,61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 7px;
    border: 1px solid rgb(232,76,61);
    position: relative;
    font-size: 16px;
}

.modal__header{
    background-color: rgb(212,70,56);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.close{
    background-color: rgb(212,70,56);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.modal__header_text{
    font-size: 28px;
    font-weight: 400;
    padding: 30px 20px;
}

.modal__text{
    padding: 40px;
    font-size: 18px;
}

.modal__footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.modal__action_btn{
    background-color: rgb(178,56,43);
    padding: 15px;
    width: 150px;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid rgb(178,56,43);
    cursor: pointer;
    text-transform: uppercase;
}

.modal__btn_wrapper{
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: rgb(232,76,61);
}
